button:focus,
button:active
  outline: none

.btn-primary
  width: 100%
  color: #fff
  border: none
  font-weight: 600
  text-align: center
  font-size: 18px
  padding: 20px 0
  background: $secondary-color
  border-radius: $default-border-radius
  box-shadow: 0px 4px 10px rgba(0,0,0,.1)

  &:disabled
    color: #8a8a8a
    background: #ccc

  i
    margin-left: 10px

.btn-main-action
  left: 20px
  right: 20px
  bottom: 30px
  border: none
  border-radius: $default-border-radius
  position: fixed
  text-align: center
  width: calc(unquote('100% - 40px'))
  box-shadow: 0 1px 10px rgba(0,0,0,.1)
