.next-point-wrapper
  text-align: center
  padding-top: rem(50px)

.next-point
  font-weight: 300
  font-size: rem(30px)

.next-point-time
  font-weight: 600
  margin: rem(45px 0)
  font-size: rem(105px)
