.authentication-success
  width: 90%
  text-align: center
  centered-component(absolute)

  .btn-primary
    margin-top: rem(50px)

.authentication-success-icon
  margin: auto
  width: 200px
  height: 200px
  border-radius: 50%
  background: $primary-color

  i
    color: #fff
    line-height: 200px
    margin-bottom: 10px
    font-size: rem(80px)

.authentication-success-message
  font-weight: 300
  font-size: rem(32px)
  font-family: 'Open Sans', sans-serif
  margin: rem(30px 0)
