// Colors
$text-color              = #333
$primary-color           = #4971a6
$secondary-color         = #37538c

$primary-error-color     = #b71c1c
$secondary-error-color    = #c62828

$primary-success-color   = #1b5e20
$secondary-success-color = #2e7d32

$primary-warning-color   = #f9a825
$secondary-warning-color = #fdd835

// Dimensions
$navbar-height         = 50px
$default-border-radius = 3px
