section.form
  header.form-header
    h1.form-title ACESSE SUA CONTA

  main.form-body
    .form-group
      input.form-control(type="text", required="required")
      label.form-label(for="email") Email
      span.form-error Error message

    .form-group
      input.form-control(type="password", required="required")
      label.form-label(for="password") Senha
      span.form-error Error message

    .form-action
      button.btn.btn-primary ENTRAR

  footer.form-footer
    a.form-link(href="#") Esqueceu a senha?

section.authentication-in-progress
  .backdrop
  .progress-wrapper
    i.fa.fa-circle-o-notch.fa-spin.progress-icon
    strong Autenticando, aguarde...
