nav.navbar(role="navigation")
  .container
    ul.navbar-wrapper
      li.navbar-item.navbar-icons
        i.fa.fa-home.navbar-icon

      li.navbar-item.navbar-title
        h1.app-title Imperium

      li.navbar-item.navbar-icons
        i.fa.fa-cog.navbar-icon
