<div class="next-point-wrapper">
  <div class="container">
    <div ng-show="vm.nextPoint">
      <h1 class="next-point">PRÓXIMO PONTO</h1>
      <h2 class="next-point-time">
        <strong>{{ vm.nextPoint }}</strong>
      </h2>
    </div>

    <h3 ng-show="!vm.nextPoint">Acabaram os pontos por hoje!</h3>
    <h3 ng-hide="vm.connected">Sem conexão com a internet...</h3>
  </div>
</div>
<button class="btn-main-action waiting" ng-click="vm.setPoint()" ng-if="vm.nextPoint || vm.connected">
  <i class="btn-icon">+</i>
</button>

<section class="in-progress" ng-show="vm.authenticating">
  <div class="backdrop"></div>
  <div class="progress-wrapper">
    </i><strong>Autenticando, aguarde...</strong>
  </div>
</section>
