<div class="next-point-wrapper">
  <div class="container">
    <div ng-show="vm.point">
      <h1 class="next-point">PRÓXIMO PONTO</h1>
      <h2 class="next-point-time">
        <strong>{{ vm.point }}</strong>
      </h2>
    </div>

    <h3 ng-show="!vm.point && vm.connected">Acabaram os pontos por hoje!</h3>
    <h3 ng-hide="vm.connected">Sem conexão com a internet...</h3>
  </div>
</div>
<button class="btn-primary btn-main-action" ng-click="vm.setPoint()" ng-if="vm.point && vm.connected">
  {{ "Marcar " + vm.period.label }}
</button>

<section class="in-progress" ng-show="vm.authenticating || vm.saving">
  <div class="backdrop"></div>
  <div class="progress-wrapper">
    <strong ng-show="vm.authenticating">Autenticando, aguarde...</strong>
    <strong ng-show="vm.saving">Marcando ponto, aguarde...</strong>
  </div>
</section>
