// Colors
$text-color              = #333
$primary-color           = #4971a6
$secondary-color         = #37538c

$primary-error-color     = #b71c1c
$seconday-error-color    = #c62828

$primary-success-color   = #1b5e20
$secondary-success-color = #2e7d32

$primary-warning-color   = #f9a825
$secondary-warning-color = #fdd835

// Media breakpoints
$smartphone = 320px
$tablet     = 768px
$desktop    = 1224px

$smartphone-min = $smartphone
$smartphone-max = $tablet - 1px

$tablet-min = $tablet
$tablet-max = $desktop - 1px

$desktop-min = $desktop
