section.form
  header.form-header
    h1.form-title ACESSE SUA CONTA

  main.form-body
    form(name="userForm", ng-submit="authUser(user)")
      .form-group(ng-class="{ 'has-error' : user.errors.email && !userForm.email.$dirty }")
        input.form-control(type="text", name="email", ng-required="true", ng-pattern="emailRegex", ng-model="user.email")
        label.form-label(for="email") Email
        span.form-error {{ user.errors.email }}

      .form-group(ng-class="{ 'has-error' : user.errors.password && !userForm.password.$dirty }")
        input.form-control(type="password", name="password", ng-required="true", ng-minlength="6", ng-model="user.password")
        label.form-label(for="password") Senha
        span.form-error {{ user.errors.password }}

      .form-action
        button.btn.btn-primary(ng-disabled="userForm.$invalid") ENTRAR

  footer.form-footer
    a.form-link(href="#") Esqueceu a senha?

section.authentication-in-progress(ng-show="authenticating")
  .backdrop
  .progress-wrapper
    i.fa.fa-circle-o-notch.fa-spin.progress-icon
    strong Autenticando, aguarde...
