doctype html
html(lang="pt-br", ng-app="imperium")
  head
    title Imperium
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/index.min.css")

  body
    div(ui-view)

    // bower:js
    // endinject

    // inject:js
    // endinject
